.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid #03045E;
  box-shadow: 0 4px 8px #03045E;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar-logo {
  font-size: 1.5rem;
  color: #03045E;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #03045E;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
